:root {
  --maximum-yellow-red: #f5b632ff;
  --alloy-orange: #c0651eff;
  --pewter-blue: #9ab5c8ff;
  --columbia-blue: #c5d9e2ff;
  --onyx: #3d3f47ff;
  --dark-sienna: #52181fff;
  --gunmetal: #16262dff;
  --jet: #37343bff;
  --antique-bronze: #585016ff;
  --silver-sand: #bdcad0ff;
}

body {
  margin-left: 0;
  margin-right: 0;
  background-color: var(--columbia-blue);
}

/* Elements */

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--jet);
}

a {
  color: var(--alloy-orange);
  text-decoration: none;
}

a:hover {
  color: var(--dark-sienna);
  text-decoration: none;
}

.yellow-button {
  color: var(--alloy-orange);
  padding: 0.5em 1.5em 0.6em 1.5em;
  border: solid 2px;
  border-color: var(--alloy-orange);
  border-radius: 5px;
}

.yellow-button:hover {
  color: var(--dark-sienna);
  padding: 0.5em 1.5em 0.6em 1.5em;
  border: solid 2px;
  border-color: var(--dark-sienna);
  border-radius: 5px;
}

/* Page parts */

.content-start-homepage {
  margin-top: 3em;
}
.content-start {
  margin-top: 6em;
}

.homepage-intro {
  padding-left: 3em;
  padding-right: 5em;
}
